EdXel_1.1/XPR/XPR.runs/.jobs/
EdXel_1.1/XPR/XPR.runs
EdXel_1.1/XPR/XPR.cache/
EdXel_1.1/XPR/XPR.runs/
EdXel_1.1/XPR/XPR.sim/
*~
EdXel_1.1/vivado_
sw/edxcel
integration/integration.runs/
integration/integration.cache/
integration/integration.hw/
EdXel_1.1/src/bad_ip/
EdXel_1.1/XPR/del/
